#Mon Jul 18 13:24:36 EDT 2011
LotusNotesServerIsLocal=true
GoogleCalendarName=Lotus Notes
GoogleUploadToMainCalendar=false
GoogleEnableProxy=true
LotusNotesServer=BikiniBottom/NotesServer
SyncOnStartup=false
SyncLocationAndRoom=true
GoogleUseSSL=true
SyncMeetingAttendees=true
SyncAtMinOffsets=true
ConfigVersion=6
SyncAllSubjectsToValue=false
GoogleProxyUsername=
GooglePassword=
LotusNotesMailFile=mail/spongebob.nsf
SyncDescription=false
SyncDaysInFuture=60
GoogleProxyPort=80
GoogleUsername=spongebob@gmail.com
GoogleProxyIP=proxy.krustykrab.com
SyncAlarms=true
DiagnosticMode=false
LotusNotesPassword=
SyncMinOffsets=0, 15, 30, 45
SyncAllSubjectsToThisValue=(Private Entry)
GoogleProxyPassword=
ApplicationVersion=2.0
SyncDaysInPast=7
LotusNotesUsername=spongebob
