#Mon Jul 18 13:24:36 EDT 2011
LotusNotesServerIsLocal=true
GoogleCalendarName=Lotus Notes
GoogleUploadToMainCalendar=false
GoogleEnableProxy=true
LotusNotesServer=
SyncOnStartup=false
SyncLocationAndRoom=true
GoogleUseSSL=true
SyncMeetingAttendees=true
SyncAtMinOffsets=true
ConfigVersion=6
SyncAllSubjectsToValue=false
GoogleProxyUsername=
GooglePassword=dHJ1ZXNlZWtlcjI1
LotusNotesMailFile=mail/deanhill.nsf
SyncDescription=false
SyncDaysInFuture=60
GoogleProxyPort=80
GoogleUsername=deanhill1971@gmail.com
GoogleProxyIP=lax-proxy.ext.ray.com
LotusNotesMailURL=
SyncAlarms=true
DiagnosticMode=false
LotusNotesPassword=TXIyNWR1ZGU\=
SyncMinOffsets=0, 15, 30, 45
SyncAllSubjectsToThisValue=(Private Entry)
GoogleProxyPassword=
ApplicationVersion=2.0
SyncDaysInPast=7
LotusNotesUsername=1081704
