#Mon Jul 15 13:27:02 EDT 2013
LotusNotesServerIsLocal=true
LotusNotesServerDateFormat=Detect
GoogleCalendarName=Lotus Notes
GoogleEnableProxy=true
LotusNotesServer=BikiniBottom/NotesServer
SyncOnStartup=false
SyncLocationAndRoom=true
GoogleUseSSL=true
SyncMeetingAttendees=true
SyncAtMinOffsets=true
ConfigVersion=7
SyncAllSubjectsToValue=false
GoogleProxyUsername=
GooglePassword=
LotusNotesMailFile=mail/spongebob.nsf
SyncDescription=false
SyncDaysInFuture=60
GoogleProxyPort=80
GoogleUsername=spongebob@gmail.com
GoogleProxyIP=proxy.krustykrab.com
SyncAlarms=true
DiagnosticMode=false
LotusNotesPassword=
SyncMinOffsets=0, 15, 30, 45
SyncAllSubjectsToThisValue=(Private Entry)
GoogleProxyPassword=
ApplicationVersion=2.4
SyncDaysInPast=7

